.task-detail-modal {
  width: 70%;
}

.task-details {
  --left-tab-task-details: 45%;
  --right-tab-task-details: 55%;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  font-size: 1.05rem;
  color: var(--text-secondary-color);

  &-name {
    font-size: 1.7rem;
    font-weight: 600;
    color: var(--primary-color);
    margin-bottom: 2rem;
  }
  &-basic-info {
    padding: 0.5rem 1rem;
    width: var(--left-tab-task-details);

    &.remote-updating {
      position: relative;
      opacity: 0.9;
      box-shadow: 0 0 20px 4px var(--warning-color) !important;
      border-radius: var(--primary-radius);

      &::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
      }

      &::after {
        content: attr(data-update);
        position: absolute;
        padding: 0.5rem 1rem;
        border-radius: var(--primary-radius);
        background-color: var(--warning-color);
        left: 50%;
        top: 0;
        transform: translateX(-50%);
        font-size: 0.9rem;
        color: #fff;
      }
    }
  }

  &-basic-info-item {
    margin-bottom: 1rem;

    label {
      margin-left: 0;
    }

    &-label {
      width: 20%;
      color: var(--primary-color);
    }

    &-creator {
      background-color: var(--bright-color);
      height: max-content;
      padding: 0.25rem 0.5rem;
      border-radius: var(--primary-radius);
    }
  }

  &-creator-avatar {
    width: 25px;
    aspect-ratio: 1/1;
    border-radius: 50%;
  }

  &-additional-info {
    width: var(--right-tab-task-details);
    font-size: 1rem;
  }
}

.priorities-select-list {
  border: none;
  .selected-item {
    padding: 0 !important;
    color: var(--text-secondary-color);
  }
}
