.select-list {
  position: relative;
  font: inherit;
  border: var(--thin-border-width) solid var(--primary-color);
  color: var(--primary-color);
  border-radius: var(--primary-radius);

  &.small-list {
    .selected-item {
      padding: 0.5rem 1rem;
    }
  }

  &.medium-list {
    .selected-item {
      padding: 1rem 0.5rem;
    }
  }

  .selected-item {
    cursor: pointer;
    min-width: max-content;
  }

  &-label {
    // padding: 0 0 0.25rem;
    color: inherit;
  }

  &-data-context {
    position: absolute;
    top: calc(100% + 0.3rem);
    left: 0;
    width: 100%;
    min-width: max-content;
    padding: 1rem 0.5rem;
    color: var(--text-secondary-color);
    border: var(--thin-border-width) solid var(--light-color);
    border-radius: var(--primary-radius);
    background-color: #fff;
    z-index: var(--select-list-z-index);

    &-item {
      padding: 0.5rem;
      cursor: pointer;

      &:hover {
        background-color: var(--hover-menu-color);
        border-radius: var(--primary-radius);
      }
    }
  }
}

.selected-context-item {
  font-weight: 600;
  color: var(--primary-color);
}
