.sidebar-item {
  --bg-hover: var(--side-bar-item-hover-color);
  font: inherit;
  padding: 1rem 0.5rem;
  display: flex;
  align-items: center;
  // justify-content: space-between;
  width: 100%;
  gap: 1rem;
  cursor: pointer;
  border-radius: var(--primary-radius);
  text-decoration: none;
  color: var(--text-primary-color);

  &-content {
    width: 100%;
  }

  &.active {
    background-color: var(--bg-hover);
    color: var(--primary-color);
    border-radius: 2rem;
    padding: 1rem;
  }
}

.sidebar.collapsed {
  .sidebar-item {
    // text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;

    &-content {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
