.task-card {
  border-radius: calc(var(--card-radius) / 2);
  padding: 1rem 0.5rem 1rem 1.2rem;
  cursor: pointer;
  max-width: 100%;
  width: 100%;
  background-color: var(--task-card-bg-color);
  box-shadow: var(--task-card-box-shadow);
  position: relative;

  &:hover {
    box-shadow: var(--task-card-hover-shadow);
  }

  &__new {
    position: absolute;
    font-size: 0.85rem;
    border-radius: var(--secondary-radius);
    width: max-content;
    padding: 0.25rem 0.25rem;
    background-color: var(--new-tag-color);
    top: 0;
    right: 0;
    transform: translateY(-50%);
    color: var(--bright-color);
  }

  &::before {
    content: '';
    position: absolute;
    width: 5px;
    border-radius: var(--primary-radius);
    height: 85%;
    top: 50%;
    left: 3px;
    transform: translate(0%, -50%);
  }

  &.high-task-card {
    &::before {
      background: var(--danger-color);
    }
    .task-card-body {
      &-name {
        color: var(--danger-color);
      }
    }
  }

  &.medium-task-card {
    &::before {
      background: var(--warning-color);
    }
    .task-card-body {
      &-name {
        color: var(--warning-color);
      }
    }
  }

  &.normal-task-card {
    &::before {
      background: var(--primary-color);
    }
    .task-card-body {
      &-name {
        color: var(--primary-color);
      }
    }
  }

  &.low-task-card {
    &::before {
      background: var(--success-color);
    }
    .task-card-body {
      &-name {
        color: var(--success-color);
      }
    }
  }

  &.default-task-card {
    &::before {
      background: var(--light-color);
    }
    .task-card-body {
      &-name {
        color: var(--text-secondary-color);
      }
    }
  }

  &-body {
    &-name {
      font-size: 1.2rem;
      font-weight: 600;
      margin: 0.5rem 0;
      max-width: 300px;

      &__completed {
        text-decoration: line-through double;
      }
    }

    &-tags {
      .tag {
        border-radius: var(--card-radius);
        width: max-content;
        padding: 0.25rem 0.5rem;
        font-size: 0.8rem;
        font-weight: 700;
      }
    }

    &-description {
      font-size: 1rem;
      font-weight: 400;
      margin: 0.5rem 0;
      color: var(--text-secondary-color);
    }
  }
  &-footer {
    color: var(--text-secondary-color);
    margin-top: 1rem;
    font-size: 0.95rem;

    &-members {
      margin-top: 0.5rem;
      margin-left: 0.5rem;

      &-more {
        font-size: 0.9rem;
        // font-weight: 400;
        color: var(--text-secondary-color);
        text-decoration: none;
      }

      &-image-container {
        width: 25px;
        aspect-ratio: 1/1;
        border-radius: 50%;
        border: 2.5px solid #fff;
        overflow: hidden;
        margin-left: -0.5rem;

        > img {
          max-width: 100%;
          object-fit: cover;
          max-height: 100%;
        }
      }
    }
  }
}

// .task-card + .task-card {
//   margin-top: 1rem;
// }
