@use './button.mixin' as *;

$primaryButtonShemes: 'primary', var(--primary-color), #1565c0, #1976d222;
$dangerButtonSchemes: 'danger', var(--danger-color), #d3086d, #e9067822;
$secondaryButtonSchemes: 'secondary', var(--secondary-color), #383737, #77777722;
$successButtonSchemes: 'success', var(--success-color), #02a430, #02a4302a;
$warningButtonSchemes: 'warning', var(--warning-color), #d89e00, #d89e0022;
$defaultButtonSchemes: 'default', #777777, #77777746, #44546f22;

@include register-button-scheme($primaryButtonShemes...);
@include register-button-scheme($dangerButtonSchemes...);
@include register-button-scheme($secondaryButtonSchemes...);
@include register-button-scheme($defaultButtonSchemes...);
@include register-button-scheme($successButtonSchemes...);
@include register-button-scheme($warningButtonSchemes...);

.btn {
  border: none;
  outline: none;
  border-radius: var(--primary-radius);
  cursor: pointer;
  font: inherit;
  background-color: inherit;

  &:disabled {
    cursor: not-allowed;
  }

  &.btn__small {
    padding: 0.3rem 0.7rem;
    font-size: 0.9rem;
    outline: none;
  }

  &.btn__medium {
    padding: 0.5rem 1.1rem;
    font-size: 1rem;
    outline: none;
  }

  &.btn__large {
    padding: 0.7rem 1.5rem;
    font-size: 1.1rem;
    outline: none;
  }

  &.btn__filled,
  &.btn__filled {
    border: none;
  }

  &.btn__filled {
    color: var(--theme-bg-color);
    &:hover {
      box-shadow: var(--button-hover-shadow);
    }
  }
}
