.anchor-menu {
  background-color: #fff;
  max-width: 100%;
  transition: 0.25s ease;
  border-radius: var(--primary-radius);
  display: none;
  padding: 1rem;
  z-index: var(--menu-z-index);

  &.open {
    display: block;
  }
}