.subtask-assignment-item {
  input {
    display: none;

    &:checked ~ label {
      border-color: var(--success-color);
    }
  }

  label {
    cursor: pointer;
    padding: 0.5rem;
    border-radius: var(--primary-radius);
    border: var(--thin-border-width) solid transparent;
    transition: border-color 0.3s ease;
  }

  &-avatar {
    width: 30px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    object-fit: cover;
    max-width: 100%;
  }

  &-info {
    &-name {
      font-weight: 600;
      color: var(--text-secondary-color);
    }

    &-email {
      font-size: 0.9rem;
      color: var(--secondary-color);
    }
  }
}
