:root {
  // app config colors
  --text-primary-color: #172b4d;
  // --text-secondary-color: #44546f;
  --text-secondary-color: #4a4a4a;

  // global colors
  --divisor-line: #cacaca;
  --thin-border-width: 0.5px;
  --normal-border-width: 1px;
  --bold-border-width: 2px;
  --hover-menu-color: #9d9d9d25;
  --primary-radius: 5px;
  --secondary-radius: 3px;
  --light-color: #ccc;
  --secondary-color: #777;
  --danger-color: #e90678;
  --info-color: #2e70ff;
  --warning-color: #d89e00;
  --primary-color: #007bc2;
  --success-color: #02a430;
  --dark-color: #333;
  --bright-color: #f1f1f1;
  --card-radius: 15px;

  // component colors
  --overlay-color: #0000001f;
  --clicked-menu-color: #0c66e417;
  --side-bar-item-hover-color: #0c66e421;

  // tooltip colors
  --tooltip-gray-color: #ccc;
  --tooltip-light-color: #ededed;
  --tooltip-dark-color: #172b4d;
  --task-card-bg-color: #fff;
  --list-bg-color: #fff;
  // --task-card-box-shadow: 0px 1px 1px #091e4240, 0px 0px 1px #091e424f;
  --task-card-box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
  --list-box-shadow: 0 0 1rem 0 #c1c1c1;
  --list-padding: 0 0.5rem 0 1rem;

  --button-hover-shadow: rgba(0, 0, 0, 0.2) 0px 2px 4px -1px, rgba(0, 0, 0, 0.14) 0px 4px 5px 0px,
    rgba(0, 0, 0, 0.12) 0px 1px 10px 0px;

  // switch sizes
  --tiny-switch-height: 17px;
  --small-switch-height: 19px;
  --normal-switch-height: 21px;
  --medium-switch-height: 23px;
  --large-switch-height: 25px;
  --switch-width: 35px;

  // z-index
  --tooltip-z-index: 1000;
  --modal-z-index: 101;
  --sidebar-z-index: 101;
  --menu-z-index: 999;
  --select-list-z-index: 103;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: Inter, sans-serif;
  font-optical-sizing: auto;
  color: var(--text-primary-color);
  font-size: 14px;
  font-weight: 500;
}

@media screen and (max-width: 768px) {
  html {
    font-size: 12px;
  }
}

#root {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}

// .tooltip[tooltip-content] {
//   position: relative;

//   &::after {
//     position: absolute;
//     content: attr(tooltip-content);
//     top: 110%;
//     left: 50%;
//     transform: translateX(-50%);
//     background-color: var(--text-primary-color);
//     transition: 0.25s cubic-bezier(0.165, 0.84, 0.44, 1);
//     width: max-content;
//     height: 0;
//     opacity: 0;
//     visibility: hidden;
//     color: #fff;
//     font-size: 0.8rem;
//     border-radius: var(--primary-radius);
//     z-index: var(--tooltip-z-index);
//   }

//   &:hover::after {
//     height: max-content;
//     opacity: 1;
//     visibility: visible;
//     padding: 0.2rem 0.5rem;
//   }
// }

::-webkit-scrollbar {
  display: none;
}

::-webkit-scrollbar-track {
  border-radius: 2rem;
}

::-webkit-scrollbar-thumb {
  background-color: var(--light-color);
  border-radius: 10px;
}

.menu {
  scrollbar-color: var(--light-color);
  scrollbar-width: thin;
}

.menu-content-box-shadow {
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px,
    rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}

.input-focus-shadow {
  &:focus,
  &:not(:placeholder-shown) {
    box-shadow: inset 0 0 2px 0 var(--primary-color);
  }
}

.card-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
}
