.mt-1 {
  margin-top: 1rem;
}

.mt-2 {
  margin-top: 2rem;
}

.mb-1 {
  margin-bottom: 1rem;
}

.mb-2 {
  margin-bottom: 2rem;
}

.my-1 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.my-2 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.mx-1 {
  margin-right: 1rem;
  margin-left: 1rem;
}

.mx-2 {
  margin-right: 2rem;
  margin-left: 2rem;
}

.py-1 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.flex-1 {
  flex: 1;
}

.text-primary {
  color: var(--primary-color) !important;
}

.text-secondary {
  color: var(--secondary-color) !important;
}

.text-danger {
  color: var(--danger-color) !important;
}

.text-info {
  color: var(--info-color) !important;
}

.text-success {
  color: var(--success-color) !important;
}

.text-warning {
  color: var(--warning-color) !important;
}

.text-light {
  color: var(--light-color);
}
.text-purple {
  color: var(--purple-color);
}

.bg-primary {
  background-color: var(--primary-bg-color) !important;
}

.bg-secondary {
  background-color: var(--secondary-bg-color) !important;
}

.bg-danger {
  background-color: var(--danger-bg-color) !important;
}

.bg-info {
  background-color: var(--info-bg-color) !important;
}

.bg-success {
  background-color: var(--success-bg-color) !important;
}

.bg-warning {
  background-color: var(--warning-bg-color) !important;
}

.bg-light {
  background-color: var(--light-color);
}
.bg-purple {
  background-color: var(--purple-bg-color);
}

.hover-bg-primary {
  &:hover {
    background-color: var(--primary-bg-color) !important;
  }
}

.hover-bg-secondary {
  &:hover {
    background-color: var(--secondary-bg-color) !important;
  }
}

.hover-bg-danger {
  &:hover {
    background-color: var(--danger-bg-color) !important;
  }
}

.hover-bg-info {
  &:hover {
    background-color: var(--info-bg-color) !important;
  }
}

.hover-bg-success {
  &:hover {
    background-color: var(--success-bg-color) !important;
  }
}

.hover-bg-warning {
  &:hover {
    background-color: var(--warning-bg-color) !important;
  }
}

.hover-bg-light {
  &:hover {
    background-color: var(--light-color);
  }
}

.row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.jcc {
  justify-content: center;
}

.jcsb {
  justify-content: space-between;
}

.jcse {
  justify-content: space-evenly;
}

.jcsa {
  justify-content: space-around;
}

.page-header {
  color: var(--primary-color);
  font-size: 1.4rem;
  margin-bottom: 1.5rem;
}

.input-group {
  // width: 100%;
  &.small-input {
    --input-padding: 0.5rem;
  }
  &.medium-input {
    --input-padding: 0.7rem;
  }
  &.large-input {
    --input-padding: 1rem;
  }
}

.bold {
  font-weight: 600;
}

.bolder {
  font-weight: 700;
}

.posr {
  position: relative;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
}

.gap-1 {
  gap: 0.5rem;
}
.gap-2 {
  gap: 1rem;
}
.gap-3 {
  gap: 1.5rem;
}
.gap-4 {
  gap: 2rem;
}

.w-full {
  width: 100%;
}

.h-full {
  height: 100%;
}

.cpointer {
  cursor: pointer;
}

.non-underline {
  text-decoration: none;
}
