.mt-1 {
  margin-top: 1rem;
}

.mt-2 {
  margin-top: 2rem;
}

.mb-1 {
  margin-bottom: 1rem;
}

.mb-2 {
  margin-bottom: 2rem;
}

.my-1 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.my-2 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.mx-1 {
  margin-right: 1rem;
  margin-left: 1rem;
}

.mx-2 {
  margin-right: 2rem;
  margin-left: 2rem;
}

.text-primary {
  color: var(--primary-color) !important;
}

.text-secondary {
  color: var(--secondary-color) !important;;
}

.text-danger {
  color: var(--danger-color) !important;
}

.text-info {
  color: var(--info-color) !important;
}

.text-success {
  color: var(--success-color) !important;
}

.text-warning {
  color: var(--warning-color) !important;
}

.text-light {
  color: var(--light-color);
}

.row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.jcc {
  justify-content: center;
}

.jcsb {
  justify-content: space-between;
}

.jcse {
  justify-content: space-evenly;
}

.jcsa {
  justify-content: space-around;
}

.page-header {
  color: var(--primary-color);
  font-size: 1.4rem;
  margin-bottom: 1.5rem;
}

.input-group {
  // width: 100%;
  &.small-input {
    --input-padding: 0.5rem;
  }
  &.medium-input {
    --input-padding: 0.7rem;
  }
  &.large-input {
    --input-padding: 1rem;
  }
}

.posr {
  position: relative;
}

