@import url('https://fonts.googleapis.com/css2?family=Reddit+Sans:ital,wght@0,200..900;1,200..900&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root {
  // app config colors
  --text-primary-color: #172b4d;
  --text-secondary-color: #4a4a4a;

  // global colors
  --divisor-line: #cacaca;
  --thin-border-width: 0.5px;
  --normal-border-width: 1px;
  --bold-border-width: 2px;
  --hover-menu-color: #9d9d9d25;
  --light-color: #ccc;
  --secondary-color: #777;
  --danger-color: #e90678;
  --info-color: #2e70ff;
  --warning-color: #d89e00;
  --primary-color: #007bc2;
  // --primary-color: #0AB3C2;
  --success-color: #02a430;

  --purple-color: #8200e5;
  --purple-bg-color: #8200e521;
  --new-tag-color: #8200e5;

  --dark-color: #333;
  --bright-color: #f1f1f1;
  --table-row-bg-color: #f4f4f4;
  --card-radius: 15px;

  --theme-bg-color: #fff;
  --input-bg-color: #fff;

  --board-bg-color: #f0f2f6;
  --task-count-bg-color: #e1e8ed;

  --danger-bg-color: #e9067821;
  --info-bg-color: #2e70ff21;
  --warning-bg-color: #d89e0021;
  --primary-bg-color: #0ab3c221;
  --success-bg-color: #02a43021;
  --secondary-bg-color: #77777721;

  --primary-radius: 7px;
  --secondary-radius: 3px;
  --chat-input-radius: 1.3rem;
  --multiple-input-value-box-radius: 13px;
  --table-outside-radius: 10px;
  --input-radius: 0.5rem;
  --sidebar-item-radius: 1rem;
  // component colors
  --overlay-color: #0000001f;
  --clicked-menu-color: #0c66e417;
  --primary-hover-color: #0c66e417;
  --table-header-bg-color: #0c66e417;
  --side-bar-item-hover-color: #0c66e421;

  // tooltip colors
  --tooltip-gray-color: #ccc;
  --tooltip-light-color: #ededed;
  --tooltip-dark-color: #172b4d;
  --task-card-bg-color: #fff;
  --list-bg-color: #e9e9e9;

  // --task-card-box-shadow: 0px 1px 1px #091e4240, 0px 0px 1px #091e424f;
  --task-card-box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
  --task-card-box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  // --task-card-hover-box-shadow: rgba(51, 111, 214, 0.671) 0px 4px 8px -2px;
  --task-card-hover-box-shadow: rgba(161, 205, 255, 0.3) 0px 0px 0px 3px;
  --list-box-shadow: 0 0 1rem 0 #c1c1c1;
  --list-padding: 0 0.5rem 0 1rem;
  --task-card-hover-shadow: rgba(51, 111, 214, 0.671) 0px 0px 8px 3px;

  --button-hover-shadow: rgba(0, 0, 0, 0.2) 0px 2px 4px -1px, rgba(0, 0, 0, 0.14) 0px 4px 5px 0px,
    rgba(0, 0, 0, 0.12) 0px 1px 10px 0px;

  // switch sizes
  --tiny-switch-height: 17px;
  --small-switch-height: 19px;
  --normal-switch-height: 21px;
  --medium-switch-height: 23px;
  --large-switch-height: 25px;
  --switch-width: 35px;

  // z-index
  --tooltip-z-index: 1000;
  --modal-z-index: 1001;
  --sidebar-z-index: 101;
  --menu-z-index: 999;
  --select-list-z-index: 103;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Reddit Sans', Inter, sans-serif;
  font-optical-sizing: auto;
  color: var(--text-primary-color);
  font-size: 14px;
  font-weight: 500;
  scroll-behavior: smooth;
}

html.dark {
  --theme-bg-color: #222;
  --light-color: #444;
  --primary-color: #005383;
  // app config colors
  --text-primary-color: #ababab;
  // --text-secondary-color: #44546f;
  --text-secondary-color: #777;
  --input-bg-color: #363636;
  --side-bar-item-hover-color: #ffffffeb;
  background-color: #222;

  input,
  textarea {
    background-color: var(--input-bg-color);
  }
}

@media screen and (max-width: 768px) {
  html {
    font-size: 12px;
  }
}

#root {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}

::-webkit-scrollbar {
  display: none;
}

::-webkit-scrollbar-track {
  border-radius: 2rem;
}

::-webkit-scrollbar-thumb {
  background-color: var(--light-color);
  border-radius: 10px;
}

.menu {
  scrollbar-color: var(--light-color);
  scrollbar-width: thin;
}

.menu-content-box-shadow {
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px,
    rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}

.input-focus-shadow {
  &:focus,
  &:not(:placeholder-shown) {
    box-shadow: inset 0 0 2px 0 var(--primary-color);
  }
}

.card-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
}

.remote-dragging-object {
  opacity: 0.9;
  box-shadow: 0 0 20px 4px var(--warning-color) !important;
  position: relative;

  &::after {
    content: attr(drag-subject);
    position: absolute;
    text-align: center;
    width: 80%;
    height: max-content;
    background-color: var(--warning-color);
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    border-radius: var(--primary-radius);
    font-size: 0.9rem;
    color: #fff;
    animation: appear 0.25s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: 0.25s cubic-bezier(0.165, 0.84, 0.44, 1);
    transform-origin: top center;
    padding: 0.25rem 0.5rem;
  }

  @keyframes appear {
    from {
      opacity: 0;
      scale: 0;
    }
    to {
      opacity: 1;
      scale: 1;
    }
  }
}

.open-button {
  background-color: var(--clicked-menu-color) !important;
  color: var(--primary-color) !important;
}
