.expander {
  &-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    padding: 1rem 0;
    cursor: pointer;

    &-text {
      flex: 1;
    }

    &-icon {
      transition: 0.25s cubic-bezier(0.165, 0.84, 0.44, 1);
      &.expanded {
        transform: rotate(180deg);
      }
    }
  }

  &-content {
    max-height: 0;
    height: auto;
    transition: 0.25s cubic-bezier(0.165, 0.84, 0.44, 1);
    overflow: hidden;
    padding-left: 1rem;

    &.expanded {
      max-height: 100%;
    }
  }
}
