.expander {
  &-header {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 1rem 0;
    cursor: pointer;

    &-icon {
      .expander-icon {
        &:first-of-type {
          display: none;
        }
      }
      &.expanded {
        .expander-icon {
          &:first-of-type {
            display: block;
          }
          &:nth-of-type(2) {
            display: none;
          }
        }
      }
    }
  }

  &-content {
    padding-left: 1rem;
    width: 100%;

    // .expander-header {
    //   padding: 0;
    // }
  }
}
