.add-new-list-input-container {
  border-radius: var(--card-radius);
  padding: 1rem 0.5rem 1rem 1rem;
  background-color: var(--list-background-color);
  box-shadow: var(--list-box-shadow);
  min-width: 300px;
}