.multiple-select-list-label {
  margin-bottom: 0.5rem;
  font-weight: 600;
}

.multiple-select-list {
  height: max-content;
  color: inherit;
  font: inherit;
  width: 100%;
  flex-wrap: wrap;
  border: var(--thin-border-width) solid var(--bright-color);
  padding: 0.25rem 0.5rem;
  border-radius: var(--primary-radius);

  &.has-selected-items {
    border-color: var(--primary-color);
  }

  &__selected-list-item {
    padding: 0.25rem 0.25rem 0.25rem 1rem;
    border-radius: var(--primary-radius);
    border: var(--thin-border-width) solid var(--light-color);
    cursor: pointer;
    display: flex;
    width: max-content;
    align-items: center;
    gap: 0.25rem;

    &-clearBtn {
      width: 20px;
      aspect-ratio: 1/1;
      border-radius: 50%;
      color: var(--light-color);
      border: none;
      outline: none;
      background: #fff;
      padding: 0.25rem;
      cursor: pointer;

      &:hover {
        background: #ff6b6b21;
        color: var(--danger-color);
      }
    }
  }

  &-options {
    --options-button-z-index: 1;
    --options-menu-z-index: 10;
    position: relative;

    &-toggleBtn {
      position: relative;
      z-index: var(--options-button-z-index);
      border: var(--thin-border-width) solid var(--light-color);
      background-color: var(--bright-color);
      border-radius: var(--primary-radius);
      padding: 0.5rem 0.7rem;
      color: var(--primary-color);
      cursor: pointer;

      &:disabled {
        background-color: var(--light-color);
        color: var(--text-secondary-color);
        cursor: not-allowed;
      }
    }

    &-menu {
      z-index: var(--options-menu-z-index);
      padding: 0.5rem 1rem;
      position: absolute;
      top: 100%;
      left: 50%;
      transform: translateX(-50%);
      width: max-content;
      border: var(--thin-border-width) solid var(--light-color);
      border-radius: var(--primary-radius);
      background: #fff;
    }
  }
}
