#toast-container,
.toast.self-position-toast {
  --x-margin: 1%;
  --y-margin: 2%;
  position: fixed;
  transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  width: 350px;
  max-width: calc(100% - var(--x-margin));
  /* Custom lại bằng cách định nghĩa biến `--toast-z-index`, mặc định là 1000 */
  z-index: var(--toast-z-index, 1000);
  font: inherit;
}

.toast-container__top-right,
.toast.self-position-toast.toast__top-right {
  top: var(--y-margin);
  right: var(--x-margin);
}

.toast-container__top-left,
.toast.self-position-toast.toast__top-left {
  top: var(--y-margin);
  left: var(--x-margin);
}

.toast-container__bottom-right,
.toast.self-position-toast.toast__bottom-right {
  bottom: var(--y-margin);
  right: var(--x-margin);
}

.toast-container__bottom-left,
.toast.self-position-toast.toast__bottom-left {
  bottom: var(--y-margin);
  left: var(--x-margin);
}

.toast-container__top-center,
.toast.self-position-toast.toast__top-center {
  top: var(--y-margin);
  left: 50%;
  transform: translateX(-50%);
}

.toast-container__bottom-center,
.toast.self-position-toast.toast__bottom-center {
  bottom: var(--y-margin);
  left: 50%;
  transform: translateX(-50%);
}

.toast {
  --toast-color: transparent;
  --toast-bg-color: #fff;
  --toast-padding-y: 1.2rem;
  --toast-padding-x: 0.5rem;
  padding: var(--custom-toast-padding-y, var(--toast-padding-y)) var(--custom-toast-padding-x, var(--toast-padding-x));
  padding-left: calc(var(--custom-toast-padding-x, var(--toast-padding-x)) * 2);
  transition: 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  background-color: var(--toast-bg-color);
  display: flex;
  align-items: center;
  gap: 1rem;
  box-shadow: 0px 0px 1rem 0px rgba(0, 0, 0, 0.199);
  position: relative;
}

@keyframes timeLineAnimation {
  from {
    width: 100%;
  }
  to {
    width: 0;
  }
}
.toast.toast__show-timeline::after {
  --animation-duration: var(--toast-duration);
  content: '';
  position: absolute;
  left: 50%;
  top: 100%;
  transform: translate(-50%, -100%);
  transition: 0.25s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  height: 0.2rem;
  animation-name: timeLineAnimation;
  animation-duration: var(--animation-duration);
  animation-timing-function: linear;
  animation-fill-mode: both;
  background-color: var(--toast-color);
}
.toast.toast__filled.toast__show-timeline::after {
  background-color: #fff;
}
.toast-body {
  flex: 1;
}

.toast-close {
  margin-right: 3%;
  font-size: 1.5rem;
  cursor: pointer;
}

.toast-body-title {
  font-size: 1.2rem;
  font-weight: bold;
  color: var(--toast-color);
}

.toast:not(.toast.toast__waiting) .toast-icon {
  color: var(--toast-color);
  font-size: 1.1rem;
}

.toast.toast__filled {
  --toast-bg-color: var(--toast-color);
  color: #fff;
}

.toast.toast__filled .toast-body-title {
  color: #fff;
}

.toast.toast__filled .toast-icon {
  color: #fff !important;
}

.toast::before {
  content: '';
  position: absolute;
  top: 50%;
  left: calc(var(--custom-toast-padding-x, var(--toast-padding-x)) / 2);
  transform: translateY(-50%);
  height: 80%;
  width: 0.25rem;
  background-color: var(--toast-color);
}

.toast.toast__info {
  --toast-color: #0066da;
}
.toast.toast__error {
  --toast-color: #ff104c;
}
.toast.toast__warning {
  --toast-color: #ffe710;
}
.toast.toast__success {
  --toast-color: #0a7e00;
}
.toast.toast__waiting {
  --toast-color: #aaaaaa;
}

@keyframes floatIntoFromRight {
  from {
    opacity: 0;
    transform: translateX(100%) scale(0);
  }
  to {
    opacity: 1;
    transform: translateX(0) scale(1);
  }
}

@keyframes floatIntoFromLeft {
  from {
    opacity: 0;
    transform: translateX(-100%) scale(0);
  }
  to {
    opacity: 1;
    transform: translateX(0) scale(1);
  }
}

@keyframes floatIntoFromTop {
  from {
    opacity: 0;
    transform: translateY(-100%) scale(0);
  }
  to {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

@keyframes floatIntoFromBottom {
  from {
    opacity: 0;
    transform: translateY(100%) scale(0);
  }
  to {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

@keyframes fadeOutFromRight {
  to {
    opacity: 0;
    transform: translateX(100%) scale(0);
  }
}
@keyframes fadeOutFromLeft {
  to {
    opacity: 0;
    transform: translateX(-100%) scale(0);
  }
}
@keyframes fadeOutFromTop {
  to {
    opacity: 0;
    transform: translateY(-100%) scale(0);
  }
}
@keyframes fadeOutFromBottom {
  to {
    opacity: 0;
    transform: translateY(100%) scale(0);
  }
}

.toast ~ .toast {
  margin-top: 0.5rem;
}

.toast-container__stacked > .toast + .toast {
  margin-top: -50%;
}

.loader {
  width: 20px;
  padding: 4px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: #576967;
  --_m: conic-gradient(#0000 10%, #000), linear-gradient(#000 0 0) content-box;
  -webkit-mask: var(--_m);
  mask: var(--_m);
  -webkit-mask-composite: source-out;
  mask-composite: subtract;
  animation: l3 1s infinite linear;
}
@keyframes l3 {
  to {
    transform: rotate(1turn);
  }
}
