.project-card {
  padding: 1rem;
  border: var(--thin-border-width) solid var(--light-color);
  border-radius: var(--card-radius);
  cursor: pointer;
  box-shadow: 0 0 1rem 0 #ccc;

  &-name {
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--text-clr);
    margin-bottom: 0.5rem;
  }

  .pinned-project-button {
    cursor: pointer;
    font-size: 1.3rem;
    padding: 0.25rem 0.4rem;
    border-radius: var(--primary-radius);

    &:hover {
      background: var(--primary-hover-color);
    }

    .no-pinned-icon {
      color: var(--light-color);
    }
    .pinned-icon {
      color: var(--text-clr);
    }
  }

  &-sub-text {
    font-size: 0.9rem;
    color: var(--text-primary-color);
  }

  &-description {
    font-size: 1rem;
    color: inherit;
    margin-top: 0.7rem;
  }

  .project-update-btn:hover {
    color: var(--primary-color);
  }
  .project-delete-btn:hover {
    color: var(--danger-color);
  }
}
