.column {
  box-shadow: var(--list-box-shadow);
  border: var(--thin-border-width) solid var(--bright-color);
  border-radius: var(--card-radius);
  padding: var(--list-padding);
  min-width: 300px;
  max-width: 400px;
  min-height: max-content; // phòng trường hợp column không có task nào
  background-color: var(--list-bg-color);

  &-header {
    padding: 0.7rem 0 1rem;
    &-name {
      font-size: 1.2rem;
      font-weight: 600;
    }

    &-more-button {
      padding: 0.5rem 0.7rem !important;
      border-radius: calc(var(--card-radius) / 2);
    }
  }

  &-footer {
    padding: 1rem 0;
  }
}
