.column {
  border: var(--thin-border-width) solid var(--light-color);
  border-radius: var(--card-radius);
  padding: var(--list-padding);
  min-width: 300px;
  max-width: 400px;
  min-height: max-content; // phòng trường hợp column không có task nào
  background-color: var(--list-bg-color);

  &-header {
    padding: 0.7rem 0 1rem;
    &-name {
      font-size: 1.2rem;
      font-weight: 600;
      color: var(--text-primary-color);

      > p.wip-limit {
        font-size: 0.9rem;
        font-style: italic;
        font-weight: 600;
      }
    }

    &-more-button {
      padding: 0.5rem 0.7rem !important;
      border-radius: calc(var(--card-radius) / 2);
    }
  }

  &-body {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
  }

  &-footer {
    padding: 1rem 0;
  }
}
