.joined-tasks-container {
  padding: 0.5rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 0.5rem;
  grid-auto-flow: row dense;
  width: 100%;
  max-height: 300px;
  overflow-y: auto;
}

.joined-task-item {
  border: var(--thin-border-width) solid var(--light-color);
  border-radius: var(--primary-radius);
  padding: 0.5rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &-name {
    font-weight: bold;
    text-decoration: none;
    font-size: 1.1rem;
    color: var(--secondary-color);
    flex-wrap: wrap;
    gap: 0.25rem;

    &__high {
      color: var(--danger-color);
    }
    &__medium {
      color: var(--warning-color);
    }
    &__normal {
      color: var(--primary-color);
    }
    &__low {
      color: var(--success-color);
    }
  }

  &-status {
    padding: 0.25rem 0.5rem;
    border-radius: var(--primary-radius);
    font-size: 0.8rem;
  }

  &__completed {
    background-color: #02a43021;
    color: var(--success-color);
  }

  &__need-help {
    background-color: #ff9f0021;
    color: var(--warning-color);
  }

  &-duedate,
  &-join-time,
  &-assignment-count {
    font-size: 0.9rem;
    margin-bottom: 0.25rem;

    &__overdue {
      background-color: #e9067821;
      color: var(--danger-color);
    }
  }
}
.priority-tag-text {
  font-size: 0.9rem;
}

// .joined-tasks-search-input {
//   padding: 0.5rem;
//   border-radius: var(--primary-radius);
//   border: var(--thin-border-width) solid var(--light-color);
//   // margin-bottom: 1rem;
//   outline: none;
//   font: inherit;
//   color: inherit;

// }
.joined-tasks-search-input {
  width: 30% !important;
}