.project-options-container {
  margin-bottom: 1rem;
  padding: 0.5rem 1rem;
  label {
    cursor: pointer;
  }
  input {
    &:checked ~ label {
      color: var(--success-color);
      font-weight: 700;
    }
  }
}

.project-options-select-item {
  padding: 1rem 0 0.5rem 1rem;
}
