.search-input {
  position: relative;
  &-before-button {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    padding: 0.5rem 1rem;
  }

  > input {
    padding: 0.5rem calc(1rem + 1rem + 1rem);
    font-size: 1rem;
    outline: none;
    font-family: inherit;
    border: var(--normal-border-width) solid var(--light-color);
    border-radius: var(--primary-radius);
    color: var(--text-primary-color);
    font-weight: normal;
    max-width: 100%;
    &:focus {
      border-color: var(--primary-color);
      border-width: var(--bold-border-width);
      box-shadow: inset 0 0 2px 0 var(--primary-color);
    }
  }
}
