.account-info {
  display: flex;
  align-items: center;
  gap: 1rem;
  color: var(--text-primary-color);
  font-weight: 450;

  &-avatar {
    width: 40px;
    height: 40px;

    img {
      max-width: 100%;
      height: auto;
      object-fit: cover;
      clip-path: circle();
    }
  }

  &-email {
    font-size: 0.9rem;
    color: var(--secondary-color);
    font-weight: 400;
  }
}