.create-board-modal {
  width: 35%;

  .modal-header-text {
    font-size: 1.5rem;
    color: var(--primary-color);
  }

  #due-date-selector {
    padding: 0.5rem 1rem;
    font: inherit;
    color: inherit;
    border: var(--thin-border-width) solid var(--light-color);
    outline: none;
    border-radius: var(--primary-radius);
    cursor: pointer;
  }
}