.share-project-image {
  max-width: 100%;
  width: 50%;
  height: auto;
  object-fit: cover;
}

.input-group.same-line-label-input {
  flex: 1;
}

.tab-content-limit {
  max-height: 500px;
  overflow-y: auto;
}
