@media screen and (max-width: 768px) {
  .sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 0;
    max-width: 100%;
    z-index: var(--sidebar-z-index);
    min-width: 0;
    background-color: #fff;
    padding-left: 0;
    padding-right: 0;
    font-size: 1rem;

    &.collapsed {
      // override desktop styles
      width: 300px;
      padding: 1rem;
    }
  }
  .sidebar-overlay {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: calc(var(--sidebar-z-index) - 1);
    background: var(--overlay-color);
  }
}

@media screen and (max-width: 440px) {
  .sidebar-close-button-on-mobile {
    display: block;
    position: absolute;
    bottom: 3%;
    right: 3%;
  }
}