.sidebar {
  padding: 1rem;
  // padding-right: 0;
  color: var(--text-primary-color);
  height: 100%;
  width: 15%;
  font-size: 1.1rem;
  border-right: var(--thin-border-width) solid var(--light-color);
}