.sidebar {
  padding: 1rem;
  color: var(--text-primary-color);
  height: 100%;
  max-width: 100%;
  width: 15%;
  min-width: 300px;
  font-size: 1.1rem;
  border-right: var(--thin-border-width) solid var(--light-color);
  transition: 0.25s cubic-bezier(0.165, 0.84, 0.44, 1);
  white-space: nowrap;
  overflow: hidden;

  &.collapsed {
    width: 0;
    padding-left: 0;
    padding-right: 0;
  }
}