.table-content {
  --secondary-bg-color: #77777720;
  --danger-bg-color: #e9067820;
  --warning-bg-color: #d89e0020;
  --primary-bg-color: #007bc220;
  --success-bg-color: #02a43020;
  border-radius: var(--table-outside-radius);
  border: var(--thin-border-width) solid var(--light-color);
  font-size: 1.1rem;
  padding: 1rem;
  width: 100%;
  max-height: 100%;
  flex: 1;

  > table {
    width: 100%;
    border-collapse: collapse;
    max-height: 600px;
    overflow-y: auto;
    display: block;

    > thead > tr {
      background-color: var(--table-header-bg-color);
      color: var(--primary-color);
      border-bottom: var(--normal-border-width) solid var(--primary-color);

      > th {
        padding: 1rem;
        font-size: 1.2rem;
      }
    }

    > tbody > tr {
      color: var(--text-secondary-color);
      text-align: center;
      cursor: pointer;

      &:hover {
        background-color: var(--table-header-bg-color);
      }

      &:not(:last-child) {
        border-bottom: var(--thin-border-width) solid var(--bright-color);
      }
      td {
        padding: 1rem;

        &.table-task-name {
          font-weight: 600;
          color: var(--primary-color);
        }
      }
    }
  }
}

.table-option-checkbox {
  width: 20px;
  cursor: pointer;
}

.task-row {
  &__default {
    color: var(--secondary-color) !important;
    background-color: var(--secondary-bg-color) !important;
  }

  &__high {
    color: var(--danger-color) !important;
    background-color: var(--danger-bg-color) !important;

    td {
      color: var(--danger-color) !important;
    }
  }
  &__medium {
    color: var(--warning-color) !important;
    background-color: var(--warning-bg-color) !important;
    td {
      color: var(--warning-color) !important;
    }
  }
  &__normal {
    color: var(--primary-color) !important;
    background-color: var(--primary-bg-color) !important;
    td {
      color: var(--primary-color) !important;
    }
  }
  &__low {
    color: var(--success-color) !important;
    background-color: var(--success-bg-color) !important;
    td {
      color: var(--success-color) !important;
    }
  }
}
.table-task-action-button {
  outline: none;
  border: none;
  padding: 0.5rem 0.8rem;
  font-size: 1.1rem;
  border-radius: var(--primary-radius);
  background-color: var(--bright-color);
  cursor: pointer;

  &__delete {
    color: var(--danger-color);
  }
  &__update {
    color: var(--primary-color);
  }
}
