.table-content {
  --secondary-bg-color: #77777720;
  --danger-bg-color: #e9067820;
  --warning-bg-color: #d89e0020;
  --primary-bg-color: #007bc220;
  --success-bg-color: #02a43020;
  --theader-padding: 1rem;
  border-radius: var(--table-outside-radius);
  border: var(--thin-border-width) solid var(--light-color);
  font-size: 1.1rem;
  padding: 1rem;
  width: 100%;
  height: 90%;
  flex: 1;
  overflow: hidden;

  &-wrapper {
    overflow-y: auto;
    padding-bottom: 3.7rem;
    height: 100%;
    width: 100%;

    table {
      width: 100%;
      border-collapse: collapse;
      // height: 100%;

      thead > tr {
        background-color: var(--table-header-bg-color);
        color: var(--text-secondary-color);
        border-bottom: var(--normal-border-width) solid var(--primary-color);

        th {
          // padding: var(--theader-padding);]
          position: sticky;
          top: 0;
          font-size: 1.1rem;
          cursor: pointer;
          background-color: var(--theme-bg-color);

          &:hover {
            background-color: var(--bright-color);
          }

          .table-header-sort-title {
            padding: var(--theader-padding);
          }
        }
      }

      > tbody > tr {
        color: var(--text-secondary-color);
        text-align: center;
        cursor: pointer;

        &:hover {
          background-color: var(--table-header-bg-color);
        }

        &:not(:last-child) {
          border-bottom: var(--thin-border-width) solid var(--bright-color);
        }
        td {
          padding: 1rem;

          &.table-task-name {
            a {
              font-weight: 600;
              color: var(--primary-color);
              text-decoration: none;

              &:hover {
                text-decoration: underline;
              }
            }
          }
        }
      }
    }
  }
}

.table-option-checkbox {
  width: 20px;
  cursor: pointer;
}

.task-row {
  &__default {
    color: var(--secondary-color) !important;
    background-color: var(--secondary-bg-color) !important;
  }

  &__high {
    color: var(--danger-color) !important;
    background-color: var(--danger-bg-color) !important;

    td {
      color: var(--danger-color) !important;
    }
  }
  &__medium {
    color: var(--warning-color) !important;
    background-color: var(--warning-bg-color) !important;
    td {
      color: var(--warning-color) !important;
    }
  }
  &__normal {
    color: var(--primary-color) !important;
    background-color: var(--primary-bg-color) !important;
    td {
      color: var(--primary-color) !important;
    }
  }
  &__low {
    color: var(--success-color) !important;
    background-color: var(--success-bg-color) !important;
    td {
      color: var(--success-color) !important;
    }
  }
}
