.member-info-row {
  padding: 0.5rem 1rem;
}

.active-text {
  padding: 0.25rem 0.5rem;
  background-color: var(--success-color);
  color: var(--bright-color);
  font-weight: bold;
  font-size: 0.9rem;
  border-radius: var(--primary-radius);
  display: inline-block;
}

.member-info {
  // .active-member {
  //   position: relative;

  //   &::after {
  //     content: 'Active';
  //     position: absolute;
  //     bottom: 0;
  //     left: 50%;
  //     padding: 0.15rem 0.25rem;
  //     border-radius: var(--primary-radius);
  //     background-color: var(--success-color);
  //     color: var(--bright-color);
  //     font-size: 0.7rem;
  //     transform: translate(-50%, 50%);
  //     font-weight: bolder;
  //   }
  // }
  &-avatar img {
    width: 30px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    max-width: 100%;
  }
  &-name {
    flex: 1;
  }
}

#online-filter-option {
  padding: 0.25rem 0.5rem;
  border: var(--thin-border-width) solid var(--light-color);
  border-radius: var(--primary-radius);
  outline: none;
  font: inherit;
  color: inherit;
  cursor: pointer;

  &:focus {
    border-color: var(--primary-color);
    color: var(--primary-color);
  }
}

.profile-expanded {
  border-radius: var(--primary-radius);
  border: var(--thin-border-width) solid var(--primary-color);
}
