.member-info-row {
  padding: 0.5rem 1rem;
  width: 100%;
}

.project-member-container {
  padding: 1rem;
  height: 100%;
  overflow: auto;
  width: 100%;
  flex: 1;
}

.active-text {
  font-size: 0.85rem;
  color: var(--success-color);
  position: relative;

  &::before {
    content: '';
    position: absolute;
    top: 50%;
    left: -7px;
    transform: translateY(-50%);
    width: 5px;
    aspect-ratio: 1/1;
    background: var(--success-color);
    border-radius: 50%;
  }
}

.member-info {
  // .active-member {
  //   position: relative;

  //   &::after {
  //     content: 'Active';
  //     position: absolute;
  //     bottom: 0;
  //     left: 50%;
  //     padding: 0.15rem 0.25rem;
  //     border-radius: var(--primary-radius);
  //     background-color: var(--success-color);
  //     color: var(--bright-color);
  //     font-size: 0.7rem;
  //     transform: translate(-50%, 50%);
  //     font-weight: bolder;
  //   }
  // }
  &-avatar img {
    width: 30px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    max-width: 100%;
  }
  &-name {
    flex: 1;
  }
}

#online-filter-option {
  padding: 0.25rem 0.5rem;
  border: var(--thin-border-width) solid var(--light-color);
  border-radius: var(--primary-radius);
  outline: none;
  font: inherit;
  color: inherit;
  cursor: pointer;

  &:focus {
    border-color: var(--primary-color);
    color: var(--primary-color);
  }
}

.profile-expanded {
  border-radius: var(--primary-radius);
  border: var(--thin-border-width) solid var(--primary-color);
}
.member-info-permission-selector {
  select {
    padding: 0.25rem 0.5rem;
    font: inherit;
    color: inherit;
    outline: none;
    border: var(--thin-border-width) solid var(--light-color);
    border-radius: var(--primary-radius);
    cursor: pointer;
  }
}
