.color-picker {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  flex-wrap: wrap;

  > label, > input {
    font: inherit;
  }


  > input[type=color] {
    cursor: pointer;
    outline: none;
    border: var(--thin-border-width) solid var(--bright-color);
  }
}