@mixin hide-tooltip {
  opacity: 0;
  width: 0;
  height: 0;
  padding: 0;
  overflow: hidden;
}

@mixin show-tooltip {
  opacity: 1;
  width: max-content;
  height: max-content;
  padding: 0.5rem;
}

@mixin slide($dir: 'up', $delay: 0.25s) {
  animation: slide-#{$dir} 0.25s cubic-bezier(0.165, 0.84, 0.44, 1) $delay forwards;
}

@mixin create-slide($dir) {
  @keyframes slide-#{$dir} {
    from {
      @include hide-tooltip;
      @if ($dir == 'up' or $dir == 'down') {
        transform: translate(-50%, 0%);
      } @else {
        transform: translate(0%, -50%);
      }
    }
    to {
      @include show-tooltip();
      opacity: 1;
      display: block;
      @if ($dir == 'up') {
        transform: translate(-50%, -100%);
      } @else if($dir == 'down') {
        transform: translate(-50%, 100%);
      } @else if($dir == 'left') {
        transform: translate(-100%, 50%);
      } @else {
        transform: translate(100%, 50%);
      }
    }
  }
}