@mixin hide-tooltip {
  opacity: 0;
  width: 0;
  height: 0;
  padding: 0;
  overflow: hidden;
}

@mixin show-tooltip {
  opacity: 1;
  width: max-content;
  height: max-content;
  padding: 0.5rem;
}

@mixin slide($dir: 'up', $delay: 0.25s) {
  animation: slide-#{$dir} 0.25s cubic-bezier(0.165, 0.84, 0.44, 1) $delay forwards;
}

.tooltip {
  --tooltip-distance: 0.25rem;
  --tooltip-delay: 0.25s;
  position: relative;
  cursor: pointer;
  height: max-content;

  .tooltip-agent {
    &:hover + .tooltip-content-on-hover {
      display: block;
      @include hide-tooltip;

      &.tooltip-content {
        &-top,
        &-bottom {
          left: 50%;
        }

        &-top {
          top: calc(0px - var(--tooltip-distance));
          @include slide('up', var(--tooltip-delay));
        }

        &-bottom {
          @include slide('down', var(--tooltip-delay));
          bottom: calc(0px - var(--tooltip-distance));
        }

        &-left,
        &-right {
          top: 50%;
          transform: translate(100%, -50%);
          animation: slide-x 0.25s cubic-bezier(0.165, 0.84, 0.44, 1);
        }
        &-left {
          left: calc(0% - var(--tooltip-distance));
          transform: translate(-100%, -50%);
        }

        &-right {
          right: calc(0% - var(--tooltip-distance));
        }
      }
    }
  }

  &-content {
    position: absolute;
    border-radius: var(--primary-radius);
    width: max-content;
    padding: 0.5rem;
    font-size: 0.9rem;
    display: none;

    // tooltip's background color
    &-light {
      background-color: var(--light-color);
      color: inherit;
    }
    &-dark {
      background-color: var(--dark-color);
      color: #fff;
    }
    &-gray {
      background-color: var(--secondary-color);
      color: inherit;
    }

    // trigger events
    &-on-click {
      &:hover {
        display: none;
      }
      &.open {
        display: block;
      }
    }
  }
}

@mixin create-slide($dir) {
  @keyframes slide-#{$dir} {
    from {
      @include hide-tooltip;
      @if ($dir == 'up' or $dir == 'down') {
        transform: translate(-50%, 0%);
      } @else {
        transform: translate(0%, -50%);
      }
    }
    to {
      @include show-tooltip();
      opacity: 1;
      display: block;
      @if ($dir == 'up') {
        transform: translate(-50%, -100%);
      } @else if($dir == 'down') {
        transform: translate(-50%, 100%);
      } @else {
        transform: translate(-100%, 50%);
      }
    }
  }
}

@include create-slide('up');
@include create-slide('down');

@keyframes slide-x {
  from {
    @include hide-tooltip;
    transform: translate(0%, -50%);
  }
  to {
    opacity: 1;
    transform: translate(-100%, 50%);
  }
}
