.assignee-item {
  padding: 0.5rem 1rem;
  display: block;
  cursor: pointer;

  &.selected {
    background-color: var(--success-bg-color);
    border-radius: var(--primary-radius);
  }

  img {
    width: 30px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    margin-right: 0.5rem;
  }

  &-info {
    &-email {
      color: var(--secondary-color);
      font-size: 0.9rem;
    }
  }
}

.assign-options-checkbox {
  display: none;
}
