.member-info-full {
  &-name {
    font-size: 1.3rem;
    font-weight: 600;
  }
  &-email {
    color: var(--secondary-color);
    font-size: 1rem;
    font-weight: 500;
    font-style: italic;
  }

  &-avatar {
    border-radius: 50%;
    object-fit: cover;
    width: 3rem;
    aspect-ratio: 1/1;
    // margin-right: 0.5rem;
  }
}
